<footer class="py-5">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-4 p-3">
        <div class="section text-center">
          <h3 class="fs-2">LOCATION</h3>
          <p>2215 John Daniel Drive</p>
          <p>Clark, MO 43</p>
        </div>
      </div>
      <div class="col-md-4 p-3">
        <div class="section text-center">
          <h3 class="fs-2">AROUND THE WEB</h3>
          <div class="icons d-flex justify-content-center align-items-center pt-3">
            <i class="fa fa-brands fa-facebook me-2"></i>
            <i class="fa fa-brands fa-twitter me-2"></i>
            <i class="fa fa-brands fa-instagram me-2"></i>
            <i class="fa fa-brands fa-twitch me-2"></i>
          </div>
        </div>
      </div>
      <div class="col-md-4 p-3">
        <div class="section text-center">
          <h3>ABOUT FREELANCER</h3>
          <p class="lead w-100">Freelance is a free to use, licensed Bootstrap theme created by Route
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>

<section class="text-center py-2">
  <p class="lead">Copyright © Your Website 2021</p>
</section>
