<section class="vh-100 hstack d-flex justify-content-center align-items-center">
  <div class="container">
    <h1 class="text-uppercase text-center text-white">about component</h1>
    <div class="d-flex justify-content-center align-items-center mb-2">
      <div class="line ms-auto"></div>
      <i class="fa-solid fa-star text-white px-4 fs-4"></i>
      <div class="line me-auto"></div>
    </div>
    <div class="row text-white">
      <div class="col-md-6">
        <p class="lead">Freelancer is a free bootstrap theme created by Route. The download includes the complete source
          files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
      </div>
      <div class="col-md-6">
        <p class="lead">Freelancer is a free bootstrap theme created by Route. The download includes the complete source
          files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
      </div>
    </div>
  </div>
</section>
