<header class="hstack d-flex justify-content-center align-items-center text-white">
  <div class="container">
    <div class="row flex-column g-4 text-center justify-content-center align-items-center">
      <div class="col-md-3">
        <div class="home-img">
          <img src="/imgs/homeAvatar.svg" alt="home img" width="250">
        </div>
      </div>
      <div class="col-md-9">
        <div class="home-content text-center">
          <h2 class="text-uppercase fw-bold fs-1">start Framework</h2>
          <div class="d-flex justify-content-center align-items-center mb-2">
            <div class="line ms-auto"></div>
            <i class="fa-solid fa-star text-white px-4 fs-4"></i>
            <div class="line me-auto"></div>
          </div>
          <span class="lead">Graphic Artist - Web Designer - Illustrator</span>
        </div>
      </div>
    </div>
  </div>
</header>
